{{>header}}

	<p>
		Bienvenido a la pagina de Inscripción para los cursos de Educación Contunua
	</p>

	<form action="/inscribir" method="post">
		<div class="form-group">
				<label>Nombre Interesado</label><br>
				<input type="text" name ="nombre" value="{{nombre}}" class="form-control" placeholder="Nombre" required>
				<br>
				<div class="row">
					<div class="col">
						<label>Documento de identidad</label><br>
						<input type="text" name ="identificacion" value="{{identificacion}}" class="form-control" placeholder="identificacion" required>
					</div>
					<div class="col">
						<label>Correo Electronico</label><br>
						<input type="email" name ="email" value="{{correo}}" class="form-control" placeholder="E-mail" required>
					</div>
					<div class="col">
						<label>Telefono</label><br>
						<input type="text" name ="telefono" value="{{telefono}}" class="form-control" placeholder="Tel/Cel" required>
					</div>
					<div class="col">
						<label>Seleccione el curso de su interes</label><br>
						{{{listarCursosInteresadoSelect listado}}}
						<p>solo se muestran los cursos disponibles</p>
					</div>
				</div>
			<br>
			<button class="btn btn-primary mb-2">Inscribirme</button>
		</div>
	</form>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>


{{>footer}}